@font-face {
   font-family: 'Heebo';
   font-style: normal;
   font-display: swap;
   font-weight: 100;
   src: url('file:///Users/sharon/sharon-mft/fonts/Heebo/100.ttf') format('truetype');
}
@font-face {
   font-family: 'Heebo';
   font-style: normal;
   font-display: swap;
   font-weight: 200;
   src: url('file:///Users/sharon/sharon-mft/fonts/Heebo/200.ttf') format('truetype');
}
@font-face {
   font-family: 'Heebo';
   font-style: normal;
   font-display: swap;
   font-weight: 300;
   src: url('file:///Users/sharon/sharon-mft/fonts/Heebo/300.ttf') format('truetype');
}
@font-face {
   font-family: 'Heebo';
   font-style: normal;
   font-display: swap;
   font-weight: 500;
   src: url('file:///Users/sharon/sharon-mft/fonts/Heebo/500.ttf') format('truetype');
}
@font-face {
   font-family: 'Heebo';
   font-style: normal;
   font-display: swap;
   font-weight: 600;
   src: url('file:///Users/sharon/sharon-mft/fonts/Heebo/600.ttf') format('truetype');
}
@font-face {
   font-family: 'Heebo';
   font-style: normal;
   font-display: swap;
   font-weight: 700;
   src: url('file:///Users/sharon/sharon-mft/fonts/Heebo/700.ttf') format('truetype');
}
@font-face {
   font-family: 'Heebo';
   font-style: normal;
   font-display: swap;
   font-weight: 800;
   src: url('file:///Users/sharon/sharon-mft/fonts/Heebo/800.ttf') format('truetype');
}
@font-face {
   font-family: 'Heebo';
   font-style: normal;
   font-display: swap;
   font-weight: 900;
   src: url('file:///Users/sharon/sharon-mft/fonts/Heebo/900.ttf') format('truetype');
}
@font-face {
   font-family: 'Heebo';
   font-style: regular;
   font-display: swap;
   font-weight: 400;
   src: url('file:///Users/sharon/sharon-mft/fonts/Heebo/regular.ttf') format('truetype');
}
