@font-face {
   font-family: 'Viaoda Libre';
   font-style: regular;
   font-display: swap;
   font-weight: 400;
   src: url('file:///Users/sharon/sharon-mft/fonts/Viaoda Libre/regular.ttf') format('truetype');
}
